<footer class="footer">
  <div class="container">
      <hr />
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-3">
          <h4 class='nav-heading'>Learn</h4>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">About us</a></li>
            <li><a href="#">Cisco Community</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class='nav-heading'>Resource</h4>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Products</a></li>
            <li><a href="#">Article Center</a></li>
            <li><a href="#">Scripts</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class='nav-heading'>Expert Corner</h4>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Discussion</a></li>
            <li><a href="#">Leaderboards</a></li>
            <li><a href="#">MVP Program</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class='nav-heading'>Legal</h4>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
      <div class="row">
          <div class="col-lg-12">
              <ul class="nav nav-pills ">
                  <li><a href="/">© 2015 Cisco, One Cloud Consulting</a></li>
                  <li class="pull-right">Follow Us:
                     <span>
                      <a href="#"><i class="fa fa-twitter-square"></i></a>
                      <a href="#"><i class="fa fa-facebook-official"></i></a>
                      <a href="#"><i class="fa fa-google-plus-square"></i></a>
                      <a href="#"><i class="fa fa-github"></i></a>
                    </span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

