{% load staticfiles %}

<nav class="navbar navbar-default navbar-nexus">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/cisco-logo.png' %}" alt="Cisco logo" title="Go Home">
        <span style="padding: 0 10px 0 10px;">Nexus 9000</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" role="button" aria-expanded="false">Products </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">Models</li>
            <li><a href="{% url 'product' %}">Cisco Nexus 93128TX</a></li>
            <li><a href="{% url 'product' %}">Cisco Nexus 93120Tx</a></li>
            <li><a href="{% url 'product' %}">Cisco Nexus 9516</a></li>
            <li><a href="{% url 'product' %}">Cisco Nexus 93120Tx</a></li>
            <li><a href="{% url 'product' %}">Cisco Nexus 9508</a></li>
            <li><a href="{% url 'product' %}">Cisco Nexus 9396TX</a></li>
            <li><a href="{% url 'product' %}">Cisco Nexus 9332PQ</a></li>
          </ul>
        </li>

        <li><a href="{% url 'articles' %}">Article Center</a></li>
        <li><a href="{% url 'scripts' %}">Scripts</a></li>
        <li><a href="{% url 'questions' %}">Discussion</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" role="button" aria-expanded="false">Export Corner </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
            <li><a href="#">MVP Program</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" role="button" aria-expanded="false">Tools</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://1-cloud.net/tools-nexus9000-convert/">Nexus Configuration Management Toolkit</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" id="menuLogin">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="500" >
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </a>
          <div class="dropdown-menu" style="padding:10px;">
            <form id="global-search">
              <input type="text" class="form-control input-large" placeholder="Search">
            </form>
          </div>
        </li>

        <li><a href="{% url 'login' %}">Sign In</a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
