{% extends "base.html" %}

{% load staticfiles %}


{% block site-title %}Q & A{% endblock %}

{% block content %}
  <div id="content">
  <div class="container">
  <div class="row">
  <!--left panel-->
  <div class="col-md-8 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-sm-6">
      <h4>Discussions</h4>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        <input type="text" class="form-control" placeholder="Search Discussions">


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Recent</a></li>
        <li role="presentation"><a href="#">Featured</a></li>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">Getting a strange error when deploying?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Nelson Huang</a> · <span
          class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">What are you looking for most at Cisco Live this year?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Gopal Amand</a> · <span class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">Why should I go with ACI?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Nelson Huang</a> · <span
          class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">Can I integrate this with other models?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Amanda Reed</a> · <span class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">What model is right for me?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Andrew Lee</a> · <span class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">What are you looking for most at Cisco Live this year?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Gopal Amand</a> · <span class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">Why should I go with ACI?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Nelson Huang</a> · <span
          class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">Can I integrate this with other models?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Amanda Reed</a> · <span class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <h5 class="script-title">
        <a href="/script">What model is right for me?</a>
      </h5>

      <div class="meta">
        <span class="text-muted">Posted by </span><a href="/profile">Andrew Lee</a> · <span class="text-muted">Aug 20, 2015</span>
      </div>
    </div>
    <div class="col-xs-5 text-center">
      <div class="row">
        <div class="col-xs-4 status-box">
          <small><strong>245</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>305</strong></small>
          <div class="text-muted">
            <small>views</small>
          </div>
        </div>
        <div class="col-xs-4 status-box">
          <small><strong>5.0(24)</strong></small>
          <div class="text-muted">
            <small>user ratings</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <ul class="pagination">
          <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
      </nav>
    </div>
  </div>

  </div>
  <!--right panel-->
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default panel-transparent">
          <div class="panel-heading">Recent Discussions</div>
          <div class="panel-body">
            <div class="list-group list-group-transparent">
          <span class="list-group-item">
            <h5 class="list-group-item-heading">
              <a href="#">Lori MacVittie</a> commented on <a href="#">Converting NXOS Standalone</a>:
            </h5>

            <p class="list-group-item-text">
              <span class="text-muted">How do you get it to boot without going to loader everytime?</span>
              <br>
            </p>
          </span>
          <span class="list-group-item">
            <h5 class="list-group-item-heading">
              <a href="#">Lori MacVittie</a> commented on <a href="#">Converting NXOS Standalone</a>:
            </h5>

            <p class="list-group-item-text">
              <span class="text-muted">How do you get it to boot without going to loader everytime?</span>
              <br>
            </p>
          </span>
            <span class="list-group-item">
            <h5 class="list-group-item-heading">
              <a href="#">Lori MacVittie</a> commented on <a href="#">Converting NXOS Standalone</a>:
            </h5>

            <p class="list-group-item-text">
              <span class="text-muted">How do you get it to boot without going to loader everytime?</span>
              <br>
            </p>
          </span>
            <span class="list-group-item">
            <h5 class="list-group-item-heading">
              <a href="#">Lori MacVittie</a> commented on <a href="#">Converting NXOS Standalone</a>:
            </h5>

            <p class="list-group-item-text">
              <span class="text-muted">How do you get it to boot without going to loader everytime?</span>
              <br>
            </p>
          </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  </div>

  </div>
  <!-- /.container -->
  </div>
{% endblock %}