{% extends 'base.html' %}
{% load staticfiles %}

{% block site-title %}Scripts{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-12">
            <h3>
              Cisco offers ACI alternative for Nexus 9000
            </h3>
            <span class="text-muted">
              Uploaded Aug 20, 2015</span> &nbsp; · &nbsp; <i class="fa fa-area-chart"></i> 305 views
            &nbsp; · &nbsp; <a href="#comments"><span class="glyphicon glyphicon-comment"></span> 4 Comments</a>
            <hr/>
            <p class="description">
              Cisco is adding a new control plane capability to its Nexus 9000 switches for customers not yet opting for
              or needing a full-blown application policy infrastructure.
              <br>
              <img class="img-thumbnail"
                   src="http://images.techhive.com/images/article/2015/02/nexus-9000-100566714-primary.idge.jpg"
                   class="stock">
              <br>
              Cisco’s BGP Control Plane for VXLAN is designed to appeal to operators of multitenant clouds looking for
              familiar BGP routing protocol features with which to scale their networks and make them more flexible for
              the demands of cloud networking. VXLAN, which scales VLAN segmentation to 16 million endpoints, does not
              specify a control plane and relies on a flood-and-learn mechanism for host and endpoint discovery, which
              can limit scalability, Cisco says.
              <br><br>
              BGP Control Plane for VXLAN can also serve as an alternative to Cisco’s Application Centric Infrastructure
              (ACI) control plane for the Nexus 9000s. The ACI fabric is based on VXLAN routing and an application
              policy controller called Application Policy Infrastructure Controller (APIC).
              <br><br>
              “This is definitely an alternative deployment model,” said Michael Cohen, director of product management
              in Cisco’s Insieme Networks Business Unit. “It’s a lighter weight (ACI) and some customers will just use
              this.”
              <br><br>
              BGP Control Plane for VXLAN runs on the standalone mode versions of the Nexus 9000, which requires a
              software upgrade to operate in ACI mode.
              <br><br>
              Cohen sidestepped questions on whether Cisco would now offer another controller just for the BGP Control
              Plane for VXLAN environments in addition to the ACI APIC and APIC Enterprise Module controllers it now
              offers.
            </p>
            <hr/>

            <div id="comments">
              <h4>Comments (3)</h4>

              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                         src="https://avatars1.githubusercontent.com/u/4196?v=3&amp;s=460"
                         data-holder-rendered="true" style="width: 50px; height: 50px;">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading" id="media-heading">
                    <a href="/profile">Adam Randolph</a>
                    <span class="fa fa-bolt"></span> <strong>82</strong> ·
                    <span class="text-muted">Network Security</span>
                  </h4>
                  How to check the existing software patch?
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                             src="https://devcentral.f5.com/profilepic.ashx?userid=30&amp;w=50&amp;h=50"
                             data-holder-rendered="true" style="width: 50px; height: 50px;">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading" id="nested-media-heading">
                        <a href="/profile">David Pruitt</a>
                        <span class="fa fa-bolt"></span> <strong>1200</strong> ·
                        <span class="text-muted">Principal Architect</span>
                      </h4>
                      Please refer the documentation for this.
                    </div>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                         src="https://devcentral.f5.com/profilepic.ashx?userid=137869&amp;w=50&amp;h=50"
                         data-holder-rendered="true" style="width: 50px; height: 50px;">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading" id="nested-media-heading">
                    <a href="/profile">Maxim Zavodchik</a>
                    <span class="fa fa-bolt"></span> <strong>910</strong> ·
                    <span class="text-muted">Engineer</span>
                  </h4>
                  What are the supported OS versions?
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <h4>Post a comment</h4>

                  <div class="form-group"><textarea class="form-control"></textarea></div>
                  <div class="form-group">
                    <button class="btn btn-primary">Comment</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <h4>About the Author</h4>

            <div class="well">
              <div class="user-about">
                <img src="https://devcentral.f5.com/profilepic.ashx?userid=114104&amp;w=64&amp;h=64"
                     class="avatar">
                <h4>
                  <a href="/article">Ned Stark</a>
                </h4>
                <span class="fa fa-bolt"></span><strong>2000</strong><br>
                <span class="text-muted">Network Engineer</span>
                <br>

                <p>Zach has been immersed in the network world for over 20 years. He enjoys designing complex systems
                  and building sustainable infastructure. He occasionally delves into web vulnerabilities and denial of
                  service attacks evolving threat analysis, attack signature development and product hacking.</p>
                <a href="#">Read more from Zach Beane »</a>
              </div>


            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12">
            <div class="panel panel-default panel-transparent">
              <div class="panel-heading">RELATED ARTICLES</div>
              <div class="panel-body">
                <div class="list-group list-group-transparent">

              <span class="list-group-item">
                <img src="http://www.gravatar.com/avatar/bc4ab438f7a4ce1c406aadc688427f2c" alt="@mdo" width="40"
                     height="40">
                  <a><h4>ACI customers continue to steadily grow</h4></a>
              </span>
              <span class="list-group-item">
                <img src="http://www.gravatar.com/avatar/a98244cbdacaf1c0b55499466002f7a8" alt="@mdo" width="40"
                     height="40">
                  <a><h4>Converting NXOS Standalone Mode</h4></a>
              </span>
              <span class="list-group-item">
                <img src="http://www.gravatar.com/avatar/edec428c425453955f770095a7d26c50" alt="@mdo" width="40"
                     height="40">
                  <a><h4>Cisco adds support for EVPN VXLAN to Nexus 9000</h4></a>
              </span>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}