{% load staticfiles %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="{% block meta-description %}{% endblock %}">

    <title>{% block site-title %}{% endblock %} - Cisco Nexus 9000 Series Community</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400|Lato|Hind|Noto+Sans|Source+Sans+Pro|Rosario|Open+Sans">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    {% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock css %}
  </head>
  <body>
    {% block header %}
      {% include 'modules/header.html' %}
    {% endblock header %}
    {% block content %}{% endblock %}
    {% block footer %}
      {% include 'modules/footer.html' %}
    {% endblock footer %}

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
  </body>
</html>