{% extends 'base.html' %}
{% load staticfiles %}

{% block site-title %}Home{% endblock %}
{% block meta-description %}Cisco Nexus 9000 Series Community{% endblock %}

{% block content %}
<div id="content">
  <div class="welcome">
    <div class="content">
    Welcome to the Community.
    <br>
    <div class="sub">Get started by reading some articles or jump right into discussions.</div>
    </div>
  </div>
  <div class="content">
    <div class="columns">
      <div class="column-main">
        <h2><a href="{% url 'articles' %}"><i class="fa fa-graduation-cap"></i> Featured Articles</a></h2>
        <ul class="feed">
          <li>
            <a href="{% url 'profile' %}" class="thumb">
              <img src="{% static 'img/hobbes.jpg' %}">
            </a>
            <div class="text">
              <h3><a href="{% url 'article' %}">Deploying with Nexus 9000</a></h3>
              <small>by Mark Benton &middot; Aug 20, 2015</small>
              <p>
                If you have anything to do with developing products or working in
                IT helping to deploy and run them, chances are you have heard the
                term "DevOps" in one form or another. Just like the ubiquitous
                "Cloud" floating out in the Internet somewhere.
              </p>
            </div>
          </li>
          <li>
            <a href="{% url 'profile' %}" class="thumb">
              <img src="https://devcentral.f5.com/profilepic.ashx?userid=30&w=50&h=50">
            </a>
            <div class="text">
              <h3><a href="{% url 'article' %}">DevOps 101 - A Brief History Of Time</a></h3>
              <small>by Andy Felton &middot; Aug 20, 2015</small>
              <p>
                If you have anything to do with developing products or working in
                IT helping to deploy and run them, chances are you have heard the
                term "DevOps" in one form or another. Just like the ubiquitous
                "Cloud" floating out in the Internet somewhere.
              </p>
            </div>
          </li>
          <li>
            <a href="{% url 'profile' %}" class="thumb">
              <img src="https://devcentral.f5.com/profilepic.ashx?userid=183815&w=50&h=50">
            </a>
            <div class="text">
              <h3><a href="{% url 'article' %}">You named your products "Good, Better and Best?" What were you thinking?</a></h3>
              <small>by Dan Edlemen &middot; Aug 20, 2015</small>
              <p>
                If you have anything to do with developing products or working in
                IT helping to deploy and run them, chances are you have heard the
                term "DevOps" in one form or another. Just like the ubiquitous
                "Cloud" floating out in the Internet somewhere.
              </p>
            </div>
          </li>
          <li>
            <a href="{% url 'profile' %}" class="thumb">
              <img src="https://devcentral.f5.com/profilepic.ashx?userid=183815&w=50&h=50">
            </a>
            <div class="text">
              <h3><a href="{% url 'article' %}">You named your products "Good, Better and Best?" What were you thinking?</a></h3>
              <small>by Dan Edlemen &middot; Aug 20, 2015</small>
              <p>
                If you have anything to do with developing products or working in
                IT helping to deploy and run them, chances are you have heard the
                term "DevOps" in one form or another. Just like the ubiquitous
                "Cloud" floating out in the Internet somewhere.
              </p>
            </div>
          </li>
        </ul>
        <a href="{% url 'articles' %}" class="see-all">See all articles &raquo;</a>
      </div>
      <div class="column-side">
        <h2><a href="{% url 'questions' %}"><i class="fa fa-fire"></i> Trending Questions</a></h2>
        <ul class="feed related">
          <li><span class="votes"><i class="fa fa-angle-up"></i> 42</span><a href="{% url 'question' %}">What is the best way to deploy?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 30</span><a href="{% url 'question' %}">What are the best features of the Nexus 9000?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 18</span><a href="{% url 'question' %}">Sampling at exatly Nyquist rate in Matlab?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 16</span><a href="{% url 'question' %}">Getting an error in Odoo 8 Products Form Template?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 14</span><a href="{% url 'question' %}">C - Sending parameters in parallel using websocket</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 10</span><a href="{% url 'question' %}">Query takes time to Execute?</a></li>
        </ul>
        <h2 style="margin-top: 30px;"><a href="{% url 'questions' %}">Recent Questions</a></h2>
        <ul class="feed related">
          <li><span class="votes"><i class="fa fa-angle-up"></i> 0</span><a href="{% url 'question' %}">What is the best way to deploy?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 2</span><a href="{% url 'question' %}">What are the best features of the Nexus 9000?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 1</span><a href="{% url 'question' %}">Getting an error in Odoo 8 Products Form Template?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 2</span><a href="{% url 'question' %}">What is the best way to deploy?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 1</span><a href="{% url 'question' %}">Query takes time to Execute?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 0</span><a href="{% url 'question' %}">Sampling at exatly Nyquist rate in Matlab?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}