{% extends 'base.html' %}
{% load staticfiles %}

{% block site-title %}Product{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="row">
          <ol class="breadcrumb bdc-nexus transparent">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product Models</a></li>
          </ol>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <h2>Cisco offers ACI alternative for Nexus 9000</h2>
            <hr>

            <div class="widget-container" id="articles-main">
              <div class="entry-body">
                <p class="description">
                  <img width="70%" class="stock" src="/static/img/nexus.jpg">
                  </p><h2>Get High Density and High Performance</h2>
                  The Cisco Nexus 93128 Switch offers comprehensive layer 2 and layer 3 support and up to
                  1.28 Tbps of switching capacity in a three-rack-unit from factor. The Nexus 93128TX is
                  ideal for top-of-rack and middle-of-row deployments in both traditional and <a href="http://www.cisco.com/en/US/solutions/ns340/ns517/ns224/ns945/app-centric-infrastructure.html">Cisco Application
                  Centric Infrastructure (ACI)</a>&ndash;enabled enterprise, service provider, and cloud environments.
                  <h3>Features and Capabilities</h3>
                  <h4>ACI Support</h4>
                  <ul>
                    <li>Designed to support the Cisco next-generation data center based on Cisco ACI</li>
                  </ul>
                  <h4>Programmability</h4>
                  <ul>
                    <li>Open APIs to manage the switch through remote-procedure calls (JavaScript Object Notation or XML) over HTTP or HTTPS</li>
                    <li>Automated configuration through Linux shell scripts</li>
                    <li>Support for customer applications through a Linux container environment</li>
                    <li>Open APIs to manage the switch through remote-procedure calls (JavaScript Object Notation or XML) over HTTP or HTTPS</li>
                  </ul>
                  <h4>High Availability</h4>
                  <ul>
                    <li>Hot-swappable, redundant power supplies and fan trays</li>
                    <li>Full patching support</li>
                  </ul>
                  <h4>Energy Efficiency</h4>
                  <ul>
                    <li>Power supplies that are rated at 80 Plus Platinum</li>
                    <li>Support for front-to-back or back-to-front airflow configuration</li>
                  </ul>
                  <h4>Investment Protection</h4>
                  <ul>
                    <li>40 Gb <a href="http://www.cisco.com/en/US/products/ps11708/index.html">bidirectional transceiver</a> for reuse of existing 10 Gigabit Ethernet multimode cabling plant for 40 Gigabit Ethernet</li>
                    <li>Support for Cisco NX-OS and ACI modes of operation</li>
                    <li>Support for <a href="http://www.cisco.com/en/US/products/ps10110/index.html">Cisco Nexus 2000 Series Fabric Extenders</a></li>
                  </ul>
                  <h3>Specifications at a Glance</h3>
                  <ul>
                    <li>Ninety-six 1/10GBASE-T nonblocking ports and eight 40 Gigabit Ethernet nonblocking uplink ports</li>
                    <li>Low latency (approximately 2 microseconds)</li>
                    <li>50 MB of shared buffer</li>
                    <li>Line rate VXLAN bridging, routing, and gateway support</li>
                    <li>Fibre Channel over Ethernet (FCoE) capability</li>
                    <li>Front-to-back or back-to-front airflow</li>
                  </ul>
                  <h3>Additional Resources</h3>
                  <h4>Data Sheets and Literature</h4>
                  Data Sheets
                  <br>
                  <a href="http://www.cisco.com/c/en/us/products/switches/nexus-9000-series-switches/datasheet-listing.html">(All Cisco Nexus 9000 Series Switches Data Sheets)</a>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cisco.com/c/en/us/products/collateral/switches/nexus-9000-series-switches/datasheet-c78-729405.html">Cisco Nexus 9300 Platform Switches Data Sheet</a>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cisco.com/c/en/us/products/collateral/switches/nexus-9000-series-switches/datasheet-c78-732234.html">Cisco Nexus 9300 Series Leaf Switches for Cisco Application Centric Infrastructure Data Sheet</a>
                  <br>
                  White Papers
                  <br>
                  <a href="http://www.cisco.com/c/en/us/products/switches/nexus-9000-series-switches/white-paper-listing.html">(All Cisco Nexus 9000 Series Switches White Papers)</a>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cisco.com/c/en/us/products/collateral/switches/nexus-9000-series-switches/white-paper-c11-729492.html">Cisco NX-OS Software Enhancements on Cisco Nexus 9000 Series Switches</a>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cisco.com/c/en/us/products/collateral/switches/nexus-9000-series-switches/white-paper-c11-729987.html">Cisco Nexus 9500 Series Switches Architecture</a>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cisco.com/c/en/us/products/collateral/switches/nexus-9000-series-switches/guide-c07-730115.html">Classic Network Design Using Cisco Nexus 9000 Series Switches</a>
                <p></p>
              </div>
            </div>


          </div>
        </div>
        <hr>
      </div>

      <div class="col-md-4">

        <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default panel-transparent">
            <div class="panel-heading">OTHER PRODUCTS</div>
            <div class="panel-body">
              <div class="list-group list-group-transparent">

            <span class="list-group-item">
              <img width="40" height="40" alt="@mdo" src="http://www.gravatar.com/avatar/bc4ab438f7a4ce1c406aadc688427f2c">
                <a><h4>ACI customers continue to steadily grow</h4></a>
            </span>
            <span class="list-group-item">
              <img width="40" height="40" alt="@mdo" src="http://www.gravatar.com/avatar/a98244cbdacaf1c0b55499466002f7a8">
                <a><h4>Converting NXOS Standalone Mode</h4></a>
            </span>
            <span class="list-group-item">
              <img width="40" height="40" alt="@mdo" src="http://www.gravatar.com/avatar/edec428c425453955f770095a7d26c50">
                <a><h4>Cisco adds support for EVPN VXLAN to Nexus 9000</h4></a>
            </span>


              </div>
            </div>

          </div>
        </div>
      </div>


      </div>



    </div>
  </div>

{% endblock %}