{% extends 'base.html' %}
{% load staticfiles %}

{% block site-title %}Scripts{% endblock %}

{% block content %}
<div id="content">
  <div class="content">
    <div class="columns">
      <div class="column-main">
        <h2>Recent Questions</h2>
        <ul class="feed related">
          <li><span class="votes"><i class="fa fa-angle-up"></i> 42</span><a href="{% url 'question' %}">Nexus 9000 Quick Deploy</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 30</span><a href="{% url 'question' %}">What are the best features of the Nexus 9000?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 18</span><a href="{% url 'question' %}">Sampling at exatly Nyquist rate in Matlab?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 16</span><a href="{% url 'question' %}">Getting an error in Odoo 8 Products Form Template?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 14</span><a href="{% url 'question' %}">C - Sending parameters in parallel using websocket</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 10</span><a href="{% url 'question' %}">Query takes time to Execute?</a></li>
        </ul>
      </div>
      <div class="column-side">
        <h2>Top Questions</h2>
        <ul class="feed related">
          <li><span class="votes"><i class="fa fa-angle-up"></i> 42</span><a href="{% url 'question' %}">Nexus 9000 Quick Deploy</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 30</span><a href="{% url 'question' %}">What are the best features of the Nexus 9000?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 18</span><a href="{% url 'question' %}">Sampling at exatly Nyquist rate in Matlab?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 16</span><a href="{% url 'question' %}">Getting an error in Odoo 8 Products Form Template?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 14</span><a href="{% url 'question' %}">C - Sending parameters in parallel using websocket</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 10</span><a href="{% url 'question' %}">Query takes time to Execute?</a></li>
        </ul>
        <h2 style="margin-top: 30px">Frequently Downloaded</h2>
        <ul class="feed related">
          <li><span class="votes"><i class="fa fa-angle-up"></i> 42</span><a href="{% url 'question' %}">Nexus 9000 Quick Deploy</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 30</span><a href="{% url 'question' %}">What are the best features of the Nexus 9000?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 18</span><a href="{% url 'question' %}">Sampling at exatly Nyquist rate in Matlab?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 16</span><a href="{% url 'question' %}">Getting an error in Odoo 8 Products Form Template?</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 14</span><a href="{% url 'question' %}">C - Sending parameters in parallel using websocket</a></li>
          <li><span class="votes"><i class="fa fa-angle-up"></i> 10</span><a href="{% url 'question' %}">Query takes time to Execute?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}