{% extends 'base.html' %}
{% load staticfiles %}

{% block site-title %}Scripts{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-12">
            <h3>
              Automate Software Patch Management
            </h3>
            <span class="text-muted">
              Uploaded Aug 20, 2015</span> &nbsp; · &nbsp; <i class="fa fa-area-chart"></i> 305 views
            &nbsp; · &nbsp; <a href="#comments"><span class="glyphicon glyphicon-comment"></span> 4 Comments</a>
            <hr/>
            <div class="description">
              <dl>
                <dt>Description</dt>
                <dd>This script is to automate software patch management.</dd>
                <dt>File Path on Repository</dt>
                <dd>nexusscripts/automate_softwate_patch.py</dd>
                <dt>Platform</dt>
                <dd>Nexus9000 C9396PX Chassis</dd>
                <dt>NX-OS Release</dt>
                <dd>6.1(2) I3(1)</dd>
                <dt>Syntax</dt>
                <dd>#python automate_softwate_patch.py</dd>
                <dt>Input:</dt>
                <dd>Patch ID</dd>
                <dt>Output:</dt>
                <dd>Result</dd>
                <dt>Rating:</dt>
                <dd>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </dd>
              </dl>
            </div>
            <hr/>
            <a class="" href="#">Download</a>

            <div class="pull-right">
              <span class="text-muted">Last commit by · </span>
              <a href="#">mikecohen</a>
            </div>
            <hr/>
            <div id="comments">
              <h4>Comments (2)</h4>

              <div class="row">
                <div class="col-xs-12">
                  <img src="https://devcentral.f5.com/profilepic.ashx?userid=114104&amp;w=64&amp;h=64"
                       class="avatar">
                  <h4>
                    <a href="/profile">David Pruitt</a> <span class="points"><i class="fa fa-bolt"></i> 1,200</span> ·
                    <span class="text-muted">Principal Architect</span>
                    <small class="pull-right">3rd Nov, 2014</small>
                  </h4>

                  <p>
                    This article provides information on the Nexus 9000 (N9K) Series Switch Conversion process from NXOS
                    standalone mode to ACI mode. This information applies to switches that are running a Cisco NX-OS
                    release.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <img src="https://devcentral.f5.com/profilepic.ashx?userid=114104&amp;w=64&amp;h=64"
                       class="avatar">
                  <h4>
                    <a href="/profile">David Pruitt</a> <span class="points"><i class="fa fa-bolt"></i> 1,200</span> ·
                    <span class="text-muted">Principal Architect</span>
                    <small class="pull-right">3rd Nov, 2014</small>
                  </h4>

                  <p>
                    This article provides information on the Nexus 9000 (N9K) Series Switch Conversion process from NXOS
                    standalone mode to ACI mode. This information applies to switches that are running a Cisco NX-OS
                    release.
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <h4>Post a comment</h4>

                  <div class="form-group"><textarea class="form-control"></textarea></div>
                  <div class="form-group">
                    <button class="btn btn-primary">Comment</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default panel-transparent">
              <div class="panel-heading">Recent Activity</div>
              <div class="panel-body">
                <div class="list-group list-group-transparent">
              <span class="list-group-item">
                <img src="http://www.gravatar.com/avatar/bc4ab438f7a4ce1c406aadc688427f2c" alt="@mdo" width="40"
                     height="40">
                  <strong>David Pruitt</strong>
                  <span class="points pull-right"><i class="fa fa-bolt"></i> <strong>1,200</strong></span>
                <div class="text-muted">Principal Architect</div>
              </span>
              <span class="list-group-item">
                <img src="http://www.gravatar.com/avatar/a98244cbdacaf1c0b55499466002f7a8" alt="@mdo" width="40"
                     height="40">
                  <strong>Mark Terrel</strong>
                  <span class="points pull-right"><i class="fa fa-bolt"></i> <strong>1,150</strong></span>
                <div class="text-muted">Sr. Director</div>
              </span>
              <span class="list-group-item">
                <img src="http://www.gravatar.com/avatar/edec428c425453955f770095a7d26c50" alt="@mdo" width="40"
                     height="40">
                  <strong>Maxim Zavodchik</strong>
                  <span class="points pull-right"><i class="fa fa-bolt"></i> <strong>9,234</strong></span>
                <div class="text-muted">Engineer</div>
              </span>
              <span class="list-group-item">
                <img src="http://www.gravatar.com/avatar/0f7dd3ce58a416be5685ea6194f82b11" alt="@mdo" width="40"
                     height="40">
                  <strong>Jason Rahm</strong>
                  <span class="points pull-right"><i class="fa fa-bolt"></i> <strong>1,092</strong></span>
                <div class="text-muted">Data Specialist</div>
              </span>

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default panel-transparent">
              <div class="panel-heading">Recent Activity</div>
              <div class="panel-body">
                <div class="list-group list-group-transparent">
              <span class="list-group-item">
                <h5 class="list-group-item-heading">
                  <a href="#">mikecohen</a> modified <a href="#">automate_softwate_patch.py</a>:
                </h5>

                <p class="list-group-item-text">
                  <span class="text-muted">Merge pull request #9 from datacenter/nexus9000</span>
                  <br>
                  <small>3 hours Ago · <a href="#">view entry</a></small>
                </p>
              </span>
              <span class="list-group-item">
                <h5 class="list-group-item-heading">
                  <a href="#">mikecohen</a> modified <a href="#">automate_softwate_patch.py</a>:
                </h5>

                <p class="list-group-item-text">
                  <span class="text-muted">Merge pull request #9 from datacenter/nexus9000</span>
                  <br>
                  <small>3 hours Ago · <a href="#">view entry</a></small>
                </p>
              </span>
              <span class="list-group-item">
                <h5 class="list-group-item-heading">
                  <a href="#">mikecohen</a> modified <a href="#">automate_softwate_patch.py</a>:
                </h5>

                <p class="list-group-item-text">
                  <span class="text-muted">Merge pull request #9 from datacenter/nexus9000</span>
                  <br>
                  <small>3 hours Ago · <a href="#">view entry</a></small>
                </p>
              </span>
                </div>
              </div>
              <div class="panel-footer"><a href="#">See all activity »</a></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
{% endblock %}