/* Transparent panels, no borders */
.panel-transparent {
    box-shadow: none;
    border: none;
}

.panel-transparent > .panel-heading {
    border: none;
    border-bottom: 1px solid #eee;
    background: transparent;
    font-weight: 500;
    font-size: 18px;
    box-shadow: none;

}

.panel-transparent > .panel-footer {
    background: transparent;
    border: none
}

.panel-transparent > .panel-body > .list-group-transparent {
    margin: -15px;
}

/* Transparent list groups */
.list-group-transparent > .list-group-item {
    border: none;
    border-radius: 0px;
    background: transparent;
    border-bottom: 1px solid #eee;
}

/* Google plus style panels */
.panel-google-plus {
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}

.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}

.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}

.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}

.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}

.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}

.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}

/* Transparent Wells */
.well-transparent {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

/* White Text */
.text-white {
    color: #fff;
}

/* No borders*/
.no-borders {
    border: none !important;
}