/*Main Header */

.navbar-nexus{
  background-color: #435869;border-radius: 0px;
}
.navbar-nexus .navbar-brand > img{display: inline}
.navbar-nexus .navbar-brand{height: auto;}
.navbar-nexus .navbar-brand:hover, .navbar-nexus .navbar-brand:focus{color:#fff;}
.navbar-nexus .navbar-nav > li > a {
    color: #fff;
  font-size: 16px;
}
.navbar-nexus .navbar-brand{color: #fff}
.navbar-nexus .form-control{background-color: transparent;color:#fff;}
.navbar-nexus .nav.navbar-nav, .navbar-form{
  padding: 15px 0 15px 0;
}

/*Main Footer*/
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}
footer.footer .nav-heading{margin-left:15px;}
footer.footer ul li a{padding-top:5px;padding-bottom: 5px;}
.footer a{color:#55555E; }


.status-box{
    margin: 10px;
    padding:5px;
    float:right;
}
.status-box.status-box-red{
    background-color: #ffdfde;
}

.status-box.status-box-green{
    background-color: #f1ffe6;
}

.status-box.status-box-blue{
    background-color: #d5ffff;
}

.status-box.status-box-gray{
    background-color: #dddddd;
}

.well-transparent{
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.bottom-border{
    border:none;
     border-bottom: 1px solid #ddd;
}

hr{
    width:100%;
}

.blockelement{
    display: block;
}

.main-content{
    margin-top:30px;
}

.jumbotron-background{
    background: url('../img/earth.jpg');
    background-size:100% 100%;
}

.text-white{
    color: #fff;
}

.panel-google-plus {
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}

.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}
.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}

.avatar{
    float:left;
    margin: 10px 10px 10px 0px;
}