{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="{% block meta-description %}{% endblock %}">

    <title>{% block site-title %}Login{% endblock %} - Cisco Nexus 9000 Series Community</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400|Lato|Hind|Noto+Sans|Source+Sans+Pro|Rosario|Open+Sans">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/site.css' %}">
  </head>
  <body class="main-content">
    <div id="content" class="text-center">

      <a id="logo-lg" href="{% url 'home' %}"><img src="{{STATIC_URL}}img/cisco-logo-dark.png"/> </a>
    <div class="well well-transparent">
        <div id="logo-text">Cisco Nexus 9000 Community.</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 ">
            <div class="panel panel-default">
                <div class="panel-body">
{#                    <!--<form method="post" action="{% url 'nlms_login' %}?next={% url 'home' %}">-->#}
                    <form method="post" action=".">
                        <h1>Sign Up</h1>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="text-left">
                            {% for error in form.non_field_errors %}
                            <p class="text-danger small"> {{error}} </p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="well well-transparent">
                                    <div class="form-group">
                                        <input type="TEXT" name="username" maxlength="254"
                                               placeholder="Username" class="form-control"
                                               value="{{form.username.value|default:''}}">
                                        {% for error in form.username.errors %}
                                        <span class="text-danger small">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                <div class="form-group">
                                        <input type="email" name="email" maxlength="254"
                                               placeholder="Email" class="form-control"
                                               value="{{form.email.value|default:''}}">
                                        {% for error in form.username.errors %}
                                        <span class="text-danger small">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                <div class="form-group">
                                        <input type="password" name="password1"
                                               placeholder="Password" class="form-control"
                                                value="{{form.password1.value|default:''}}">
                                        {% for error in form.password1.errors %}
                                        <span class="text-danger small">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                <div class="form-group">
                                        <input type="password" name="password2"
                                               placeholder="Password Reenter" class="form-control"
                                               value="{{form.password2.value|default:''}}">
                                        {% for error in form.password2.errors %}
                                        <span class="text-danger small">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                     <div class="form-group">
                                        <button class="btn btn-default" value="Submit">
                                          Register
                                        </button>

                                    </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="well well-transparent well-lg ft-wt">
                © 2015 Organic.org All rights reserved
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
  </body>
</html>
